.img-wrapper {
  margin-right: 16px;
}

.img-front {
  margin-bottom: 36px;
  transform: translateX(-48px);
  position: relative;
}

.img-info {
  width: calc(100% - 48px);
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 28px 32px;
  position: absolute;
  color: var(--color-white);
  z-index: 2;
}

.card-front {
  border-radius: 8px;
  box-shadow: 0 39px 60px 0 rgba(0, 0, 0, 0.1425);
}

.img-info-row--1 {
  display: flex;
  align-items: center;
  gap: 16px;
}

.circle-full {
  width: 48px;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: var(--color-white);
}

.circle-linear {
  width: 21px;
  aspect-ratio: 1;
  border: 1px solid var(--color-white);
  border-radius: 50%;
}

.img-info-row--2 {
  margin-top: auto;
}

.img-info-row--2 > div:nth-child(1) {
  margin-bottom: 26px;
  font-size: 28px;
  font-weight: 500;
  letter-spacing: 3.42px;
}

.img-info-row--2 > div:nth-child(2) {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.img-info-row--2 > div:nth-child(2) > span {
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.card-back {
  margin-left: 48px;
  border-radius: 8px;
  box-shadow: 0 39px 60px 0 rgba(0, 0, 0, 0.1425);
}

@media all and (max-width: 1135px) {
  #root {
    gap: 0;
  }

  .img-wrapper {
    margin: unset;
    margin-top: 200px;
    position: relative;
  }

  .img-front {
    margin: unset;
    position: relative;
    transform: unset;
    transform: translateY(50%);
    z-index: 3;
  }

  .card-front {
    width: 90%;
  }

  .card-back {
    width: 90%;
    transform: translateY(-100%);
    z-index: 1;
  }
}

@media all and (max-width: 615px) {
  .img-wrapper {
    max-width: 90%;
    display: block;
    margin: 120px auto 0 auto;
  }

  .img-front,
  .card-back {
    display: block;
  }
}
